<!DOCTYPE html>
<html class="sl-theme-light">
  <head>
    <title>
      Maricá City |{% block title %}

      {% endblock %}
    </title>

    {% load static %}

    <link rel="stylesheet" media="(prefers-color-scheme:light)" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/light.css" />
    <link rel="stylesheet" media="(prefers-color-scheme:dark)" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/dark.css" />

    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="{% url 'home' %}"><img src="{% static 'images/maricacity_logo.png' %}" alt="Maricá City Logo" class="logo-img" /></a>
      </div>

      <!-- Navigation -->
      <nav class="nav-links">
        <sl-button href="{% url 'home' %}" variant="text">Home</sl-button>
        <sl-button href="{% url 'explore' %}" variant="text">Explorar</sl-button>
        <sl-button href="#" variant="text">Mapa</sl-button>
        <sl-button href="{% url 'sobre' %}" variant="text">Sobre</sl-button>
      </nav>

      <div class="login-section">
        {% include 'login_snippet.html' %}
      </div>
    </header>

    <!-- MAIN CONTENT -->
    <main>
      {% block content %}

      {% endblock %}
    </main>

    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/shoelace-autoloader.js"></script>
  </body>
</html>
